USE [master]
GO
/****** Object:  Database [DisciplineTradingJournal]    Script Date: 1/4/2025 6:34:41 PM ******/
CREATE DATABASE [DisciplineTradingJournal]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DisciplineTradingJournal', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DisciplineTradingJournal.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DisciplineTradingJournal_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DisciplineTradingJournal_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DisciplineTradingJournal].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DisciplineTradingJournal]
GO
/****** Object:  Table [dbo].[YearlyProfitAndLoss]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[YearlyProfitAndLoss](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[FinancialYear] [int] NOT NULL,
	[Category] [varchar](50) NOT NULL,
	[Profit] [decimal](15, 2) NULL,
	[Loss] [decimal](15, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_YearlyProfitAndLossSummary]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_YearlyProfitAndLossSummary] AS
SELECT 
    FinancialYear,
    SUM(Profit) AS TotalProfit,
    SUM(Loss) AS TotalLoss,
    SUM(Profit) - SUM(Loss) AS NetProfitOrLoss
FROM 
    YearlyProfitAndLoss
GROUP BY 
    FinancialYear
GO
/****** Object:  Table [dbo].[OptionsAnalysisCE]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionsAnalysisCE](
	[CallId] [int] IDENTITY(1,1) NOT NULL,
	[StrikePrice] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[TradeDate] [date] NULL,
	[Underlying] [nvarchar](50) NOT NULL,
	[OptionType] [nvarchar](2) NOT NULL,
	[OpenInterest] [int] NOT NULL,
	[ChangeInOpenInterest] [int] NOT NULL,
	[LastPrice] [decimal](18, 2) NOT NULL,
	[ImpliedVolatility] [decimal](18, 2) NOT NULL,
	[UnderlyingValue] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__OptionsA__5180CFAAE0A9A2AF] PRIMARY KEY CLUSTERED 
(
	[CallId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionsAnalysisPE]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionsAnalysisPE](
	[PutId] [int] IDENTITY(1,1) NOT NULL,
	[StrikePrice] [int] NOT NULL,
	[ExpiryDate] [date] NOT NULL,
	[TradeDate] [date] NULL,
	[Underlying] [nvarchar](50) NOT NULL,
	[OptionType] [nvarchar](2) NOT NULL,
	[OpenInterest] [int] NOT NULL,
	[ChangeInOpenInterest] [int] NOT NULL,
	[LastPrice] [decimal](18, 2) NOT NULL,
	[ImpliedVolatility] [decimal](18, 2) NOT NULL,
	[UnderlyingValue] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
 CONSTRAINT [PK__OptionsA__C590CEA33BDDDC2E] PRIMARY KEY CLUSTERED 
(
	[PutId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_OptionAnalysis]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE VIEW [dbo].[vw_OptionAnalysis]
as
SELECT 
CE.Underlying,
CE.TradeDate,
CE.OpenInterest  AS CE_OpenInterest,
CE.ChangeInOpenInterest AS CE_ChangeInOpenInterest,
CE.ImpliedVolatility AS CE_ImpliedVolatility,
CE.LastPrice AS CE_Lastprice,
CE.StrikePrice,
CE.UnderlyingValue,
PE.LastPrice AS PE_Lastprice,
PE.ImpliedVolatility AS PE_ImpliedVolatility,
PE.ChangeInOpenInterest AS PE_ChangeInOpenInterest,
PE.OpenInterest AS PE_OpenInterest
FROM 
OptionsAnalysisCE CE
INNER JOIN  OptionsAnalysisPE PE ON CE.StrikePrice=PE.StrikePrice
AND CE.TradeDate=PE.TradeDate
GO
/****** Object:  Table [dbo].[AuditLogs]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuditLogs](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Action] [nvarchar](255) NOT NULL,
	[Details] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Notifications]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Notifications](
	[NotificationID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Message] [nvarchar](max) NOT NULL,
	[IsRead] [bit] NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NotificationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OptionsAnalysisCrudeOil]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OptionsAnalysisCrudeOil](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[StrikePrice] [int] NOT NULL,
	[ExpiryDate] [date] NULL,
	[TradeDate] [date] NULL,
	[Underlying] [varchar](50) NOT NULL,
	[UnderlyingValue] [float] NOT NULL,
	[CEOpenInterest] [int] NOT NULL,
	[CEChangeInOpenInterest] [int] NOT NULL,
	[CELastPrice] [float] NOT NULL,
	[CEVolume] [decimal](18, 2) NOT NULL,
	[PEOpenInterest] [int] NOT NULL,
	[PEChangeInOpenInterest] [int] NOT NULL,
	[PELastPrice] [float] NOT NULL,
	[PEVolume] [decimal](18, 2) NOT NULL,
 CONSTRAINT [PK__OptionsA__3214EC07A5FCE66F] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PerformanceMetrics]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PerformanceMetrics](
	[MetricID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[TotalTrades] [int] NULL,
	[WinningTrades] [int] NULL,
	[TotalCharge] [decimal](18, 2) NULL,
	[NetProfitAndLoss] [decimal](18, 2) NULL,
	[LosingTrades] [int] NULL,
	[AverageWin] [decimal](10, 2) NULL,
	[AverageLoss] [decimal](10, 2) NULL,
	[ProfitFactor] [decimal](10, 2) NULL,
	[WinRate] [decimal](5, 2) NULL,
	[WinningDays] [int] NULL,
	[LosingDays] [int] NULL,
	[DayWinRate] [decimal](5, 2) NULL,
	[MaxDrawDown] [decimal](18, 2) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[TradingScore] [decimal](18, 2) NULL,
 CONSTRAINT [PK__Performa__56105645F02A4035] PRIMARY KEY CLUSTERED 
(
	[MetricID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradeNotes]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeNotes](
	[NoteID] [int] IDENTITY(1,1) NOT NULL,
	[TradeID] [int] NULL,
	[UserID] [int] NULL,
	[NoteText] [nvarchar](max) NULL,
	[Screenshot] [varbinary](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[NoteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradeSettings]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeSettings](
	[SettingID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[MaxTradesPerDay] [int] NULL,
	[RiskPerTradeAmount] [decimal](10, 2) NULL,
	[RewardPerTradeAmount] [decimal](10, 2) NULL,
	[SeriesTradePerQuater] [int] NULL,
	[RiskRewardRatio] [varchar](5) NULL,
	[DailyLossLimit] [decimal](10, 2) NULL,
	[StopTradingThreshold] [decimal](10, 2) NULL,
	[WinRateTarget] [decimal](5, 2) NULL,
	[ProfitTarget] [decimal](10, 2) NULL,
	[PreferredMarket] [varchar](50) NULL,
	[Currency] [varchar](10) NULL,
	[EmailNotificationsEnabled] [bit] NULL,
	[MobileNotificationsEnabled] [bit] NULL,
	[PrimaryStrategy] [varchar](100) NULL,
	[SecondaryStrategy] [varchar](100) NULL,
	[SettingsVersion] [int] NOT NULL,
	[IsActive] [bit] NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
 CONSTRAINT [PK__TradeSet__54372AFDDDB9825E] PRIMARY KEY CLUSTERED 
(
	[SettingID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradeStrategies]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradeStrategies](
	[StrategyID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[StrategyName] [nvarchar](100) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[StrategyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradingAccountValues]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradingAccountValues](
	[AccountValueID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[DateRecorded] [date] NOT NULL,
	[AccountValue] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[AccountValueID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TradingUsers]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TradingUsers](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[ClaimId] [uniqueidentifier] NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Email] [nvarchar](100) NOT NULL,
	[PasswordHash] [nvarchar](255) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[MobileNo] [varchar](10) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[IsActive] [bit] NULL,
 CONSTRAINT [PK__Users__1788CCAC61032E9A] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__536C85E4DC2D1BBD] UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [UQ__Users__A9D105349F153726] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAlerts]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAlerts](
	[AlertID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[AlertMessage] [nvarchar](max) NOT NULL,
	[AlertType] [nvarchar](50) NULL,
	[TriggerCondition] [nvarchar](max) NULL,
	[CreatedAt] [datetime] NULL,
	[IsAcknowledged] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[AlertID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserProfiles]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfiles](
	[ProfileID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NULL,
	[Bio] [nvarchar](max) NULL,
	[ProfilePictureURL] [nvarchar](255) NULL,
	[ContactNumber] [nvarchar](20) NULL,
	[Address] [nvarchar](255) NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ProfileID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserTrades]    Script Date: 1/4/2025 6:34:41 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserTrades](
	[TradeID] [int] IDENTITY(1,1) NOT NULL,
	[UserID] [int] NOT NULL,
	[Symbol] [nvarchar](250) NOT NULL,
	[EntryDate] [date] NOT NULL,
	[ExitDate] [date] NULL,
	[EntryPrice] [decimal](10, 2) NOT NULL,
	[ExitPrice] [decimal](10, 2) NULL,
	[Quantity] [int] NOT NULL,
	[TradeType] [nvarchar](20) NOT NULL,
	[InitialRisk] [decimal](10, 2) NULL,
	[NetProfitLoss] [decimal](10, 2) NULL,
	[CapitalUsed] [decimal](10, 2) NOT NULL,
	[BrokerCharges] [decimal](10, 2) NULL,
	[MarketType] [nvarchar](20) NOT NULL,
	[CreatedAt] [datetime] NULL,
	[UpdatedAt] [datetime] NULL,
	[PositionStatus] [char](1) NOT NULL,
	[EntryTime] [time](7) NULL,
	[ExitTime] [time](7) NULL,
	[Change] [decimal](10, 2) NULL,
	[TradeStatus] [varchar](4) NULL,
 CONSTRAINT [PK__Trades__3028BABB7714CEEB] PRIMARY KEY CLUSTERED 
(
	[TradeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuditLogs] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT ((0)) FOR [IsRead]
GO
ALTER TABLE [dbo].[Notifications] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OptionsAnalysisCE] ADD  CONSTRAINT [DF__OptionsAn__Creat__5812160E]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[OptionsAnalysisPE] ADD  CONSTRAINT [DF__OptionsAn__Creat__59063A47]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PerformanceMetrics] ADD  CONSTRAINT [DF__Performan__Creat__49C3F6B7]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[PerformanceMetrics] ADD  CONSTRAINT [DF__Performan__Updat__4AB81AF0]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TradeNotes] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TradeNotes] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TradeSettings] ADD  CONSTRAINT [DF__TradeSett__Setti__339FAB6E]  DEFAULT ((1)) FOR [SettingsVersion]
GO
ALTER TABLE [dbo].[TradeSettings] ADD  CONSTRAINT [DF__TradeSett__IsAct__32AB8735]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[TradeSettings] ADD  CONSTRAINT [DF__TradeSett__Creat__5DCAEF64]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TradeSettings] ADD  CONSTRAINT [DF__TradeSett__Updat__5EBF139D]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TradeStrategies] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TradeStrategies] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TradingAccountValues] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TradingUsers] ADD  CONSTRAINT [DF__TradingUs__Claim__7F2BE32F]  DEFAULT (newid()) FOR [ClaimId]
GO
ALTER TABLE [dbo].[TradingUsers] ADD  CONSTRAINT [DF__Users__CreatedAt__398D8EEE]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[TradingUsers] ADD  CONSTRAINT [DF__Users__UpdatedAt__3A81B327]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[TradingUsers] ADD  CONSTRAINT [DF__Users__IsActive__3B75D760]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[UserAlerts] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserAlerts] ADD  DEFAULT ((0)) FOR [IsAcknowledged]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserProfiles] ADD  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserTrades] ADD  CONSTRAINT [DF__Trades__Charges__440B1D61]  DEFAULT ((0)) FOR [BrokerCharges]
GO
ALTER TABLE [dbo].[UserTrades] ADD  CONSTRAINT [DF__Trades__CreatedA__44FF419A]  DEFAULT (getdate()) FOR [CreatedAt]
GO
ALTER TABLE [dbo].[UserTrades] ADD  CONSTRAINT [DF__Trades__UpdatedA__45F365D3]  DEFAULT (getdate()) FOR [UpdatedAt]
GO
ALTER TABLE [dbo].[UserTrades] ADD  CONSTRAINT [DF_UserTrades_TraderStatus]  DEFAULT ('O') FOR [PositionStatus]
GO
ALTER TABLE [dbo].[YearlyProfitAndLoss] ADD  DEFAULT ((0)) FOR [Profit]
GO
ALTER TABLE [dbo].[YearlyProfitAndLoss] ADD  DEFAULT ((0)) FOR [Loss]
GO
ALTER TABLE [dbo].[AuditLogs]  WITH CHECK ADD  CONSTRAINT [FK__AuditLogs__UserI__52593CB8] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[AuditLogs] CHECK CONSTRAINT [FK__AuditLogs__UserI__52593CB8]
GO
ALTER TABLE [dbo].[Notifications]  WITH CHECK ADD  CONSTRAINT [FK__Notificat__UserI__4D94879B] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Notifications] CHECK CONSTRAINT [FK__Notificat__UserI__4D94879B]
GO
ALTER TABLE [dbo].[PerformanceMetrics]  WITH CHECK ADD  CONSTRAINT [FK__Performan__UserI__48CFD27E] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[PerformanceMetrics] CHECK CONSTRAINT [FK__Performan__UserI__48CFD27E]
GO
ALTER TABLE [dbo].[TradeNotes]  WITH CHECK ADD  CONSTRAINT [FK__TradeNote__Trade__5629CD9C] FOREIGN KEY([TradeID])
REFERENCES [dbo].[UserTrades] ([TradeID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TradeNotes] CHECK CONSTRAINT [FK__TradeNote__Trade__5629CD9C]
GO
ALTER TABLE [dbo].[TradeNotes]  WITH CHECK ADD  CONSTRAINT [FK__TradeNote__UserI__571DF1D5] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
GO
ALTER TABLE [dbo].[TradeNotes] CHECK CONSTRAINT [FK__TradeNote__UserI__571DF1D5]
GO
ALTER TABLE [dbo].[TradeSettings]  WITH CHECK ADD  CONSTRAINT [FK__Settings__UserID__5BE2A6F2] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TradeSettings] CHECK CONSTRAINT [FK__Settings__UserID__5BE2A6F2]
GO
ALTER TABLE [dbo].[TradeStrategies]  WITH CHECK ADD  CONSTRAINT [FK__TradeStra__UserI__6477ECF3] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TradeStrategies] CHECK CONSTRAINT [FK__TradeStra__UserI__6477ECF3]
GO
ALTER TABLE [dbo].[TradingAccountValues]  WITH CHECK ADD  CONSTRAINT [FK__AccountVa__UserI__60A75C0F] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TradingAccountValues] CHECK CONSTRAINT [FK__AccountVa__UserI__60A75C0F]
GO
ALTER TABLE [dbo].[UserAlerts]  WITH CHECK ADD  CONSTRAINT [FK__Alerts__UserID__71D1E811] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserAlerts] CHECK CONSTRAINT [FK__Alerts__UserID__71D1E811]
GO
ALTER TABLE [dbo].[UserProfiles]  WITH CHECK ADD  CONSTRAINT [FK__UserProfi__UserI__3E52440B] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserProfiles] CHECK CONSTRAINT [FK__UserProfi__UserI__3E52440B]
GO
ALTER TABLE [dbo].[UserTrades]  WITH CHECK ADD  CONSTRAINT [FK__Trades__UserID__4316F928] FOREIGN KEY([UserID])
REFERENCES [dbo].[TradingUsers] ([UserID])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[UserTrades] CHECK CONSTRAINT [FK__Trades__UserID__4316F928]
GO
USE [master]
GO
